body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main{
  width:100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
}
.content{
  min-height: 90vh;
  width: 100vw;
  display:flex;
}
.product-section{
  display: flex;
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
 
 
  
}
.right-section{
  min-height: 100vh;
  width: 30%;
  background:rgb(205, 205, 209);
  
}
.product{
  width:130px;
  height:270px;
  margin: 10px;
}
.image{
height:70% ;
width: 100%;
}
img{
  height: 100%;
  width: 100%;
}
.products{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}
.product-content{
display: flex;
flex-direction: column;
}
.item{
  height: 70px;
  width: 85%;
  display:flex;
  background: white;
  margin:5px;
  justify-content: space-between;
  align-items: center;
}
.item-image{
  height:100%;
  width:20%
}
img{
  height: 100%;
  width: 100%;
}
.item-detail{
  padding: 2px;
}
.item-total{
  display:flex;
  width: 100%;
  justify-content: space-evenly;
}
.zoom{
  display:flex;
  flex-direction: column;
}
.modal-data{
  display: flex;
  justify-content: space-between;
}
.modal-image{
  width: 40%;
  height:80%;
}
.modal-button{
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.modal-ps{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 12px;
  margin-top: 10px;
}
